<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.job4j.exam">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="ru.job4j.dialog4date4time.DateAndTimeActivity" />
        <activity android:name="ru.job4j.exam.fragments.ExamListActivity" />
        <activity android:name=".fragments.ExamUpdateActivity" />
        <activity android:name="ru.job4j.exam.fragments.ResultActivity" />
        <activity android:name="ru.job4j.exam.fragments.HintActivity" />
        <activity android:name="ru.job4j.exam.fragments.BaseActivity" />
        <activity android:name=".fragments.ExamAddActivity" />
        <activity android:name="ru.job4j.exam.fragments.ExamQuestionsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>